src/main/mule/proc-g13-ecommerce.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="g13-ecommerce-config" api="g13-ecommerce.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="g13-ecommerce-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="g13-ecommerce-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="g13-ecommerce-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="g13-ecommerce-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\(accountId):application\json:g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="899b414f-3d79-4d57-a3a4-f511ab6faef0" message="Update user flow has started"/>
<!-- 		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform> -->
		<flow-ref doc:name="Update-users-sf-apiFlow" doc:id="b336fc3b-e5c1-43c0-9412-c54300f57465" name="Update-users-sf-apiFlow"/>
    </flow>
    <flow name="put:\orders\(orderid):application\json:g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="471b52bb-a78e-432f-907a-10c2ebecbee3" message="Update orders flow has started"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:name="Variable-Orderid">
            <ee:variables>
				<ee:set-variable variableName="Orderid" ><![CDATA[attributes.uriParams.'orderid']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="UpdateOrder-api-flow" doc:id="79d7656b-43af-4bc3-b887-299a68555059" name="UpdateOrder-api-flow"/>
    </flow>
    <flow name="delete:\users\(accountId):g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="f44e686e-c921-4371-a91b-bb73dc750f72" message="Delete user flow has started"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:name="Variable-AccountId">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Delete-users-sf-apiFlow" doc:id="e2265582-017e-46b8-a216-08f4337d64a4" name="Delete-users-sf-apiFlow"/>
    </flow>
    <flow name="get:\orders\(orderid):g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="1eb19067-2c16-4d40-8b16-9db1bf3381cd" message="Get order flow has started"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:name="Variable-Orderid">
            <ee:variables>
                <ee:set-variable variableName="orderid">attributes.uriParams.'orderid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="GetOrders-api-flow" doc:id="6dde7c4c-9123-4e29-b6ab-42f3a730a46a" name="GetOrders-api-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4e4b96f9-9519-4885-93df-9effc831ef02" message="Get order flow has started"/>
    </flow>
    <flow name="post:\orders:application\json:g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="08a1eb0b-9e08-4f6c-9465-a24906507f43" message="create orders flow has started"/>
		<flow-ref doc:name="Create-Orders-apiFlow" doc:id="5afed6bb-8fad-444b-a65e-2eaa0f94fe3d" name="Create-Orders-apiFlow"/>
    </flow>
    <flow name="post:\payment:application\json:g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="56ed8ac6-71d1-4fed-b2b6-fe5d768a9838" message="Payment api flow has started"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Your payment is received"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:g13-ecommerce-config">
		<logger level="INFO" doc:name="Logger" doc:id="9b1df7dd-5040-45cf-b27c-fb1d76159585" message="create users flow has started"/>
		<flow-ref doc:name="Flow Reference" doc:id="b2c8a518-dd7f-4d47-8688-6c39a3273206" name="Create-users-sf-apiFlow"/>
    </flow>
    <flow name="post:\wishlist:application\json:g13-ecommerce-config">
        <logger level="INFO" doc:name="Logger" doc:id="b92891cf-8815-467c-bd79-377562e271eb" message="Create wishlist flow has started"/>
		<flow-ref doc:name="Flow Reference" doc:id="05f9619f-6576-4d32-ab81-fb414b08a6bc" name="create-wishlistSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="030bbf65-66b8-4e04-9434-d08bc9fdf09e" message="create wishlist flow completed"/>
    </flow>
</mule>
